
<div  [class]="isShadow?'card shadow':'card'" [ngClass]="content?.title?.trim()?.toLowerCase()==selectedTittle?.trim()?.toLowerCase()?'selected':'card'">
   
  <img *ngIf="content?.imgURL" [src]="content?.imgURL" (click)="titledetail(content)">
  <img *ngIf="!content?.imgURL" src="https://www.iso.org/obp/graphics/grs/d3451786-46c2-41c9-b8ff-10a4f4840f07_200.png" (click)="titledetail(content)">
  
  <div class="container">
     
    
    
    <p>Creator: {{content?.creator}}</p>
    <p *ngIf="content?.type" appHoverAffect="underline">Type: {{content?.type}}</p>
    <p *ngIf="content?.tags">
      Tag: <span appHoverAffect="bold" [ngClass]="{'tag_Grocery': content?.type == 'Grocery',
                              'tag_Cosmetic': content?.type == 'Cosmetic',
                              'tag_Notype': content?.type == null}" *ngFor="let tag of content?.tags">{{tag}}</span>


    </p>

    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="ProductDetail(content?.id)">Product
        detail</button>
    </mat-card-actions>
  </div>
</div>
