<div class="card {{isFirst && 'first'}}" [ngClass]="content?.title?.trim()?.toLowerCase()==selectedTittle?.trim()?.toLowerCase()?'selected':'card'">
   
  <img *ngIf="content?.imgURL" [src]="content?.imgURL" (click)="titledetail(content)">
  <img *ngIf="!content?.imgURL" src="https://www.iso.org/obp/graphics/grs/d3451786-46c2-41c9-b8ff-10a4f4840f07_200.png" (click)="titledetail(content)">
  
  <div class="container">
    <h4><b>{{content?.title}}</b></h4>
    <p>Description: {{content?.description}}</p>
    <p>Creator: {{content?.creator}}</p>
    <p *ngIf="content?.type" appHoverAffect="underline">Type: {{content?.type}}</p>
    <p *ngIf="content?.tags && (isFirst || isLast)">
      Tag: <span  appHoverAffect="boldandborder"   [ngClass]="{'tag_Grocery': content?.type == 'Grocery',
                              'tag_Cosmetic': content?.type == 'Cosmetic',
                              'tag_Notype': content?.type == null}" *ngFor="let tag of content?.tags ; first as isFirst; last as isLast">{{tag}}</span>

                              


    </p>

    <p *ngIf="content?.tags && (!isFirst && !isLast)">
      Tag: <span   appHoverAffect="bold"   [ngClass]="{'tag_Grocery': content?.type == 'Grocery',
                              'tag_Cosmetic': content?.type == 'Cosmetic',
                              'tag_Notype': content?.type == null}" *ngFor="let tag of content?.tags ; first as isFirst; last as isLast">{{tag}}</span>

                              


    </p>


  </div>
</div>
